<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">MongoDB News Scraper  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved"> Saved </a>
      </li>
      <li class="nav-item">
      <button class="btn btn-danger btn-lrg" id="scrape-new">Scrape Stories</button>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center" id="jumbotron">
  <div class="container">
    <h1 class="display-3">Home News Feed</h1>
    <p class="lead">Click the red <button class="btn btn-danger btn-sm" id="fake-button">Scrape Stories</button> button above to begin </p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>