<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">MongoDB News Scraper  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Saved </a>
      </li>
      <li class="nav-item">
      <button class="btn btn-danger btn-lrg">Scrape Stories</button>
      </li>
    </ul>
  </div>
</nav>

<h1>Home</h1>